<div class="container borderRadius">

  <h1>{{titleH1}}</h1>

  <div class="input">
    <input type="text" id="entrada" [class]="{borderRadius: true}" #inputValue (keyup)="task = inputValue.value"
      (keyup.enter)="task !== '' && addTask(); inputValue.value=''; task=''">
  </div>
  <div>
    <button id="btnClear" class="btnInput borderRadius" (click)="clearTasks(); inputValue.value=''">Clear</button>
    <button id="btnPush" class="btnInput borderRadius"
      (click)="task !== '' && addTask(); inputValue.value=''; task=''">Push</button>
  </div>

  <div class="divTask borderRadius">
    <ul>
      <li *ngFor="let i of arrTasks" style="list-style-type: none">
        <div class="divLi borderRadius">
          <div id="divTaskTxt" [ngClass]="{'completed': i.completed}">
            {{i.task}}
          </div>
          <button (click)="doneTask(i)" id="btnOk">&#10004;</button>
          <button (click)="rmTask(i)" id="btnX">&#10007;</button>
        </div>
      </li>
    </ul>
  </div>
</div>